global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "otel-collector"
    static_configs:
      - targets: ["signoz-otel-collector:8889"]

  - job_name: "omega-analysis-engine"
    static_configs:
      - targets: ["analysis-engine:8000"]
    metrics_path: /metrics
    scrape_interval: 15s
